@layout('layouts/main')
@set('title', 'home page')

@section('body')
<h1 class='is-size-1'>Welcome to Anniverse</h1>
<p>No more apology for forgetting your friend's birthday or anniversary</p>

@endsection 