@if(flashMessages.has('success'))
<div class="notification is-success py-1 mt-4 is-size-7">{{flashMessages.get('success')}}</div>
@endif 

@if(flashMessages.has('error'))
    <div class="notification is-danger is-light">{{flashMessages.get('error')}}</div>
@endif 
